<h1>Rock Paper Scissors</h1>


<p >Choose one of the three links and see who wins!</p>

<ul>
  <a href="/rock" class="white">Rock</a>
  <a href="/paper" class="white">Paper</a>
  <a href="/scissors" class="white">Scissors</a>
</ul>
